attached_assets/Episode_one_complete_1779304998957.mov filter=lfs diff=lfs merge=lfs -text
attached_assets/episode1_v1.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/episode1_v2.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/episode1_v3.mp4 filter=lfs diff=lfs merge=lfs -text
